@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/OpenSansCondensed-Bold.woff2") format("woff2"), url("../fonts/OpenSansCondensed-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  font-weight: inherit;
  font-size: inherit;
  border-color: inherit;
  color: inherit;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  padding: 5px 51px;
  background-color: #d1a954;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: 0.3s;
}
@media (hover: hover) {
  .button:hover {
    background-color: rgba(209, 170, 84, 0.5254901961);
  }
}

h2 {
  font-weight: 700;
  font-size: 64px;
  letter-spacing: 0.1em;
  line-height: 135.9375%;
  text-transform: uppercase;
  text-align: center;
}
h2 span {
  color: #d1a954;
}

h3 {
  font-weight: 700;
  font-size: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 138.0952380952%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #333;
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1950px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  flex: 1 1 auto;
}

.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: absolute;
  z-index: 10;
  width: 100%;
  left: 0;
  top: 0;
  padding: 50px 0;
}

.header__body {
  margin: 0 auto;
  max-width: 1110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  flex: 0 1 74.05%;
  display: flex;
  justify-content: space-between;
}

.header__item {
  font-size: 18px;
  font-weight: 700;
  line-height: 138.8888888889%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.header__link {
  position: relative;
}
.header__link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #d1a954;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}
@media (hover: hover) {
  .header__link:hover::after {
    width: 100%;
  }
}

.header__link-phone {
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 122.2222222222%;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 2px solid #d1a954;
}

.main__top {
  padding-top: 267px;
  padding-bottom: 215px;
}

.top {
  position: relative;
}

.top__body {
  display: flex;
  justify-content: center;
  -moz-column-gap: 71px;
       column-gap: 71px;
  margin-right: 100px;
}

.top__content {
  max-width: 596px;
  margin-top: 117px;
}

.top__content-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 135.4166666667%;
  letter-spacing: 0.095em;
  text-transform: uppercase;
  margin-bottom: 55px;
}

.top__content-text {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 20px;
}

.top__content-button {
  margin-top: 28px;
}

.swiper {
  margin: 0;
}

.top__slider {
  max-width: 350px;
}

.top__slider-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 372px;
}

.swiper-button-prev,
.swiper-button-next {
  position: static;
  gap: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  width: auto;
  height: auto;
  margin-top: -17px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev img {
  transform: rotate(180deg);
}

.top__background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.top__social {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  height: 100%;
  width: 150px;
  text-align: center;
  background-color: #333;
}

.top__social-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 138.8888888889%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #c4c4c4;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin: 405px auto 0;
}
.top__social-text::before {
  content: "";
  width: 3px;
  height: 80px;
  background-color: #c4c4c4;
  display: inline-block;
  margin: 40px 0;
}

.top__social-list :not(:last-child) {
  margin-bottom: 23px;
}

.top__social-link svg path {
  transition: 0.3s;
}
@media (hover: hover) {
  .top__social-link svg:hover path {
    fill: #d1a954;
    fill-opacity: 1;
  }
}

.main__about {
  margin-top: 150px;
}

.about__title {
  margin-bottom: 78px;
}

.about__container {
  display: flex;
  gap: 31px;
  justify-content: center;
}

.about__content {
  flex: 0 1 23.5%;
}

.about__content-title {
  margin-bottom: 35px;
}

.about__content-text {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.about__numbers {
  flex: 0 1 11%;
}

.about__numbers-title {
  margin-bottom: 34px;
}

.about__numbers-item:not(:last-child) {
  margin-bottom: 20px;
}

.item-about__image {
  margin-bottom: 16px;
}

.item-about__text {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 137.5%;
}
.item-about__text span {
  color: #d1a954;
}

.about__image-container {
  flex: 0 1 20.9%;
}

.about__image {
  padding-bottom: 73.925%;
}

.main__projects {
  margin-top: 143px;
}

.projects__titlle {
  margin-bottom: 78px;
}

.projects__slider {
  max-width: 1768px;
  width: 100%;
  margin-left: 135px;
}

.projects__slide {
  max-width: 442px;
  cursor: url("../img/projects/cursor.svg"), pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.projects__img-name {
  position: absolute;
  z-index: 1;
  top: 40px;
  left: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 137.5%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  opacity: 1;
  transition: 0.5s;
}

.projects__img-date {
  position: absolute;
  z-index: 1;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  left: 40px;
  bottom: 40px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 138.8888888889%;
  text-transform: uppercase;
  opacity: 1;
  transition: 0.5s;
}

.projects__img {
  padding-bottom: 124.43%;
}
.projects__img::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.65;
  transition: 0.5s;
}
@media (hover: hover) {
  .projects__img:hover::after {
    opacity: 0;
  }
  .projects__img:hover .projects__img-name,
  .projects__img:hover .projects__img-date {
    opacity: 0;
  }
  .projects__img:hover::before {
    display: none;
  }
}

.projects__img_accent::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../img/projects/cursor.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
  z-index: 1;
}
@media (hover: hover) {
  .projects__img_accent:hover::before {
    display: none;
  }
}

.swiper-slide-zoomed {
  z-index: 10;
}
.swiper-slide-zoomed .projects__img-name,
.swiper-slide-zoomed .projects__img-date {
  opacity: 0;
}
.swiper-slide-zoomed .projects__img::after {
  display: none;
}
.swiper-slide-zoomed .projects__img_accent::before {
  display: none;
}

.main__rating {
  margin-top: 92px;
}

.rating__body {
  margin: 0 auto;
  max-width: 1111px;
  position: relative;
}

.rating__content {
  display: flex;
  justify-content: center;
  gap: 120px;
  align-items: center;
  padding: 186px 96px 126px 190px;
}

.rating__year {
  font-weight: 700;
  font-size: 72px;
  letter-spacing: 0.1em;
  line-height: 136.1111111111%;
  text-transform: uppercase;
  color: #d1a954;
}

.rating__stars {
  display: flex;
  gap: 25px;
  margin-bottom: 25px;
}

.rating__text {
  font-family: "OpenSans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  max-width: 540px;
}

.rating__background-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=styles.css.map */