html {
    scroll-behavior: smooth;
}

body{
    background-color: rgb(127, 127, 193);
    font-family: "Montserrat", Verdana, sans-serif;
    color: $color-textMain;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1046px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

.main{
    flex: 1 1 auto;
}

.ibg{
    position: relative;
    img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}