html {
    scroll-behavior: smooth;
}

body {
    background-color: $color-dark;
    font-family: $font-family;
    color: $color-textMain;
}
body._lock{
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    * {
        outline: 1px solid green !important;
    }
    // overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    // padding: 0 15px;
}

.main {
    flex: 1 1 auto;
}

.ibg {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
