.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    padding: 5px 51px;
    background-color: $color-accent;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: 0.3s;
    @media (hover: hover) {
        &:hover {
            background-color: #d1aa5486;
        }
    }
}

h2 {
    font-weight: 700;
    font-size: 64px;
    letter-spacing: 0.1em;
    line-height: calc(87 / 64 * 100%);
    text-transform: uppercase;
    span {
        color: $color-accent;
    }
    text-align: center;
}

h3 {
    font-weight: 700;
    font-size: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: calc(29 / 21 * 100%);
}
