$color-textMain: #fff;
$color-dark: #333;
$color-accent: #d1a954;
$color-aside: #c4c4c4;
$color-formBackground: #444444;
$color-formBorder: #616161;
$color-formText: #989898;
$color-footerBorder: #565656;

$font-family: "Open Sans Condensed", sans-serif;
$second-family: "OpenSans", sans-serif;