.main__partners {
    margin-top: 150px;
}

.partners__title {
    margin-bottom: 141px;
}

.partners__slider-top {
    margin: 0 auto 129px;
    max-width: 1111px;
    width: 100%;
}
.partners__slider-wrapper {
    align-items: center;
}

.partners__slider-bottom {
    margin: 0 auto;
    max-width: 1111px;
    width: 100%;
}